<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href="{{asset('css/app.css')}}?v={{ 'now'|date('U') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <header>
    <nav>
    {% if app.user %}
    <a href="{{path('todo_create')}}" class="{{ app.request.attributes.get('_route') == 'todo_create' ? 'active' : '' }}">CREATE TODO</a>
    <a href="{{path('todo_list')}}" class="{{ app.request.attributes.get('_route') == 'todo_list' ? 'active' : '' }}">TODO LIST</a>
    <a href="{{path('app_logout')}}" class="{{ app.request.attributes.get('_route') == 'app_logout' ? 'active' : '' }}">LOGOUT</a>
    {% else %}
    <a href="{{path('app_login')}}" class="{{ app.request.attributes.get('_route') == 'app_login' ? 'active' : '' }}">LOGIN</a>
    <a href="{{path('app_register')}}" class="{{ app.request.attributes.get('_route') == 'app_register' ? 'active' : '' }}">REGISTER</a>
    {% endif %}
    </nav>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
